* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
}

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-light.ttf');
}

.center {
    width: 1200px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 90px;
    background-color: rgb(66, 39, 19);
}



.header img {
    width: 150px;
}

.container-banner {
    width: 100%;
    height: 557px;
    background-image: url('https://image.tuasaude.com/media/article/gb/wv/beneficios-do-inhame_22125.jpg?width=686&height=487');
    background-size: cover;
    background-position: center;
}

.container-banner>.center {
    height: 100%;
}

.form {
    padding: 10px;
    width: 400px;
    height: calc(100% + 30px);
    float: right;
    position: relative;
    top: -15px;
    border: 4px solid rgba(82, 57, 29, 0.3);
    background-color: #db9d56;
    background-clip: padding-box;
}

.form h2 {
    font-weight: normal;
    color: #52320f;
    font-size: 20px;
}

.input-container {
    margin-top: 20px;
}

.input-container span,
.form p {
    display: inline-block;
    width: 100%;
    color: #52391d;
    font-size: 17px;
    font-weight: bold;
}


.form p {
    margin: 20px 0;
}

.input-container input[type=text] {
    margin-top: 8px;
    width: 344px;
    height: 55px;
    border: 1px solid #241607;
}

.form .input-submit-container {
    text-align: center;
}

.form input[type="submit"] {
    color: #c2b29f;
    font-size: 25px;
    width: 280px;
    height: 56px;
    display: inline-block;
    background-color: #3b2104;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 5px solid #1c1002;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background-color: #2e1a03;
}

.container-list {
    padding: 30px;
    margin-top: 100px;
    float: left;
    width: 519px;
    height: 270px;
    background-color: rgba(255, 255, 255, 0.8);

}

.container-list ul {
    list-style-position: inside;

}

.container-list ul li {
    margin-top: 18px;
    color: #51320d;

}

.container-2 {
    padding: 40px 0;
    background-color: coral;
    text-align: center;
}

.container-2 h2 {
    font-weight: normal;
}

.container-2 p {
    width: 698px;
    display: inline-block;
    text-align: justify;
    margin: 15px 0;
}

.arrow {
    position: relative;
    top: 60px;
    left: 50%-20px;
    width: 40px;
    height: 40px;
    background-image: url(https://cdn-icons-png.flaticon.com/512/271/271228.png);
    background-size: 100% 100%;
}

.section-1 {
    padding: 90px 0;
}

.section-1 h2 {
    text-align: center;
    color: #52391d;
    font-weight: normal;
}

.container-section {
    text-align: center;

}

.container-single{
    float: left;
    width: 33.3333%;

}